
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isNotGuest() {
      return request.auth != null && request.auth.token.firebase.sign_in_provider != 'anonymous';
    }

    match /users/{userId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    match /stories/{storyId} {
      allow read: if resource.data.visibility == 'Public' ||
                   (resource.data.visibility == 'Unlisted') ||
                   (request.auth != null && request.auth.uid == resource.data.author.id) ||
                   (request.auth != null && resource.data.collaboratorIds.hasAny([request.auth.uid]));
      allow create: if isNotGuest() && request.auth.uid == request.resource.data.author.id;
      allow update, delete: if request.auth != null && (request.auth.uid == resource.data.author.id || resource.data.collaboratorIds.hasAny([request.auth.uid]));
    }
    
    match /conversations/{conversationId} {
      allow read, write: if request.auth != null && request.auth.uid in resource.data.participantIds;
    }
    
    match /conversations/{conversationId}/messages/{messageId} {
        allow read, write: if request.auth != null && request.auth.uid in get(/databases/$(database)/documents/conversations/$(conversationId)).data.participantIds;
    }

    match /comments/{commentId} {
      allow read: if true;
      allow create: if isNotGuest();
      allow update, delete: if isNotGuest() && request.auth.uid == resource.data.user.id;
    }

    match /notifications/{notificationId} {
      allow read, write: if request.auth != null && request.auth.uid == resource.data.userId;
    }
    
    match /globalChatMessages/{messageId} {
        allow read: if true;
        allow create: if isNotGuest() && request.auth.uid == request.resource.data.author.id;
    }
    
    match /statusUpdates/{statusId} {
        allow read: if true;
        allow create: if isNotGuest() && request.auth.uid == request.resource.data.authorId;
        allow update, delete: if isNotGuest() && request.auth.uid == resource.data.authorId;
    }

    match /prompts/{promptId} {
        allow read: if resource.data.isArchived == false;
        allow create: if isNotGuest() && request.auth.uid == request.resource.data.author.id;
        allow update, delete: if isNotGuest() && request.auth.uid == resource.data.author.id;
    }

    match /letters/{letterId} {
        allow read: if request.auth != null && (request.auth.uid == resource.data.authorId || request.auth.uid == resource.data.reader.id);
        allow create: if isNotGuest() && request.auth.uid == request.resource.data.reader.id;
        allow update: if request.auth != null && request.auth.uid == resource.data.authorId;
        allow delete: if request.auth != null && request.auth.uid == resource.data.reader.id;
    }

    match /annotations/{annotationId} {
        allow read, write, delete: if request.auth != null && request.auth.uid == resource.data.userId;
        allow create: if isNotGuest() && request.auth.uid == request.resource.data.userId;
    }

    match /feedPosts/{postId} {
        allow read: if true;
        allow create: if isNotGuest() && request.auth.uid == request.resource.data.author.id;
        allow update, delete: if isNotGuest() && request.auth.uid == resource.data.author.id;
    }
  }
}
